/* Reset CSS styles for universal elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define custom variables */
:root{
    --sidebar-color: mediumblue; /* Sidebar background color */
}

/* Main container layout settings */
.main-container{
    display: grid;
    grid-template-columns: 0.75fr 3fr; /* Sidebar takes 25%, main content takes 75% of the width */
    height: 100vh; /* Full viewport height */
}

/* Styling for the main dashboard content area */
.dashboard-content{
    background-color: azure;
}

/* Sidebar styles */
.sidebar{
    background-color: var(--sidebar-color); /* Using custom variable */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: aliceblue;
}

/* Styles for dashboard section in sidebar */
.sidebar-dashboard{
    display: flex;
    gap: 10px;
    font-size: 26px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

/* Styles for icons (if used) */
.icon_dashboard{
    font-size: 1.5em;
}

/* Common styles for list items in sidebar */
.sidebar-settings>ul>li,
.sidebar-home>ul>li{
    padding: 20px 0 0 30px;
}

/* Styles for menu items in sidebar */
.sidebar-settings>ul>li.menu-item,
.sidebar-home>ul>li.menu-item{
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Remove bullet points from ul */
ul{
    list-style-type: none;
}
